*{
    font-family: "Open Sans",sans-serif;
    -moz-box-sizing: border-box;
    letter-spacing: 0px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    scroll-behavior: smooth;
    margin: 0;
   }
 
 





